#player-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  .modal-wrapper {
    width: 40%;
    height: 50%;
  }

  .wrapper {
    height: 100%
  }
}